<h1>Books API</h1>
<div id="container">

    <table *ngFor="let book of books">
        <th>{{book.id}} - {{book.title}}</th>
        <tr>
            <th>{{book.subtitle}}</th>
        </tr>
        <tr>${{book.price}}</tr>
        <tr>{{book.author}}</tr>
        <tr>Pages: {{book.pages}}</tr>
        <tr>{{book.description}}</tr>
        <tr><button (click)="deleteBook(book.id)">Delete</button>
            <button (click)="update(book.id)">Update</button></tr>
    </table>
</div>

<div id="newBook">
    <h2>Add a Book</h2>
    <label>Title: </label>
    <input [(ngModel)]="bookData.title" />

    <label>Author: </label><input [(ngModel)]="bookData.author" />
    <label>Pages: </label><input [(ngModel)]="bookData.pages" />
    <label>Price: </label><input [(ngModel)]="bookData.price" />
    <label>Description: </label><input [(ngModel)]="bookData.description" />
    <button (click)="addBook()">Add Book</button></div>

<div id="updateBook">
    <h2>Update Book</h2>
    <div *ngFor="let item of array; let index = index;">
        <p>{{keys[index]}}- {{item}}</p>
    </div>
    <form #updateForm="ngForm" (ngSubmit)="changeBook(updateForm.value)">
        <label>Title: </label>
        <input name="title" ngModel />
        <button type="submit">Update</button>
    </form>
</div>